/* GENERAL */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



/* HERO */
#hero{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* this is saying repeat 1 column at minimum 0(really small) or max(1 fraction of the total[view?]) more than 1 column would be just an equal fraction*/
}

#hero > div { /* the > in this is meaning the direct div descendance of the parent with the ID = "hero" */
    padding: 2rem;
    
}

.hero-img {
    position: fixed; /* this takes the image out of the relative context of the page and lets it sit separate content. it stay's fixed relative to where you scroll  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /*this allows the image to sit behind*/
    overflow: hidden;

}

.hero-img img{
    position: absolute; /*positioned nearest to its relative parent*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* not sure why this extra z-index is here seems unnecessary*/
}

.login-container{ /*at 600px the login-container will auto add left and right margin to automatically keep the login and page info centered as the screen gets bigger*/
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto ;
}

/* DASHBOARD */



/* UTILITIY */




/* MEDIA QUERIES */