:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container {
  min-height: 100vh;
}
.main-container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  
}

.dropdown-container {
  display: flex;
  justify-content: center;
}



#dropdown-info {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  color: black ;
  border-radius: 4px;
  margin-top: .5rem;
}



a {
  color: black;
  padding: .5rem;
  
}

a:hover {
  color: teal;
  background-color: aliceblue;
  border-radius: 4px;
  /* transition-property: 200; figure this out later */
}

a:visited {
  color: blueviolet;
}
