button{
    background-color: white;

    font-family: sans-serif; /*IBM plex mono was used in this example.*/
    font-weight: 700;
    text-transform: uppercase;
    
    padding: 12px 18px;

    border-radius: 4px;
    border: solid 2px #121212;
    box-shadow: 4px 4px #121212;
    transition: transform 50ms, box-shadow 50ms;
}

button:hover {
    transform: translate(3px,3px);
    box-shadow: 1px 1px #121212;
}

div{
    background-color: white;

    font-family: sans-serif; /*IBM plex mono was used in this example.*/
    font-weight: 700;
    text-transform: uppercase;
    
    padding: 12px 18px;

    border-radius: 4px;
    border: solid 2px #121212;
    box-shadow: 2px 6px #121212;
}
