/*
List of functions to look into 
max-width: unset; - wasn't explained what this does or it wasn't explained at length
*/

/* GENERAL */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* HERO */ /*reminder this is all for mobile experience first. desktop section will be demarkated */
#hero{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* this is saying repeat 1 column at minimum 0(really small) or max(1 fraction of the total[view?]) more than 1 column would be just an equal fraction*/
}

#hero > div { /* the > in this is meaning the direct div descendance of the parent with the ID = "hero" 
    without the > you're instead sub-selecting that tag/element */
    padding: 2rem;
    
}

.hero-img {
    position: fixed; /* this takes the image out of the relative context of the page and lets it sit separate content. it stay's fixed relative to where you scroll  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /*this allows the image to sit behind*/
    overflow: hidden;

}

.hero-img img{
    position: absolute; /*positioned nearest to its relative parent*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* not sure why this extra z-index is here seems unnecessary*/
}

.login-container{ /*at 600px the login-container will auto add left and right margin to automatically keep the login and page info centered as the screen gets bigger*/
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto ; /*1st placement: Y-axis 2nd placement: X-axis*/
}

.login-container input{
    width: 100%;
    max-width: unset;
    padding: 0.75rem;

}

.submit-btn { /*expands the button to 100% of the width and centers said button*/
    width: 100%;
    max-width: unset;
    display: grid;
    place-items: center;
}

.secondary-btns-container { /*gives secondary buttons their own column to work with (login, forgot password)*/
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

}

.secondary-btns-container button {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    max-width: unset;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0;
}

footer a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-right: 0.75rem;
    background: var(--background-muted);
    border: 1px solid transparent;/* the transparent option is to help with preventing any jump around jankiness when the hover effect takes place but it has to exist to allow the hover effect to work*/
    transition-duration: 200ms;
    text-decoration: none;
}

footer a:hover{
    border-color: var(--color-link);
}

footer a img {
    max-width: 30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
/* DASHBOARD */
#notes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    flex: 1;
}

.nav,
.notes-container,
.mdx-container {
    padding: 2rem;
}

.notes-btn {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.notes-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav{
    border-right: 1px solid var(--border-primary);
    flex-direction: column;
    display: flex;
    gap: 1rem;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    max-width: 65%;
    background: var(--background-primary);
    z-index: 10;
}

.hidden-nav {
    display: none !important;
}

.Nav button { /* this is to help set a button and an icon that there's sparation on either end of the space */
    width: 100%;
    max-width: unset; /*unset is to unset a value in fanta.css...*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav .notes-list{
    flex: 1; /*this helps push the logout button to the bottom as it's taking as much space as possible.*/
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: auto; /*this is here because the sidenav is set to have 100vh*/
}

.notes-list button {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem !important;
    text-transform: capitalize;
    overflow: hidden;
    padding: 0.5rem;
    min-height: fit-content;
}

.notes-list button p{
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
/* UTILITIY */




/* MEDIA QUERIES */

@media ( min-width: 640px) {
    #hero {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        flex: 1; /* this helps with keeping the full height of the parent container*/
    }

    .hero-img{
        position: sticky;
        max-height: 100vh; /*this helps keep the photo stuck to the top of the page.*/
    }
}
@media ( min-width: 768px) {}

@media ( min-width: 1024px) {
    #hero {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .hero-img{
        grid-column: span 2 / span 2 ; /*this is helping the image span out to 2 colums instead of 1*/
    }
}