@import "tailwindcss";

@theme {
--color-Paleiceblue: #61aee8;
--color-Darkindigo: #3730a3;
--color-Midnightsnow: #19164b;
}

/* color set one 
--color-lightpurple/lavender: #8f94fb;
--color-Darkindigo-ish?: #3730a3; 

to group Tailwind utilities you use the @apply and format it like this.

.btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700;
}



#61aee8
#61a0e8
#A7BFE8*/